<a href="https://colab.research.google.com/github/Adelson021/Proj01/blob/main/Mod04_Tarefa_aula_01_e_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [2]:
import pandas as pd
import numpy as np

anos = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
anomalias_termicas = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]

# Criando a série do Pandas
serie_anomalias = pd.Series(data=anomalias_termicas, index=anos, name='Anomalia Térmica')

print(serie_anomalias)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
Name: Anomalia Térmica, dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [3]:

# seu código aqui
serie_anomalias = pd.Series(data=anomalias_termicas, index=anos, name='Anomalia Térmica')

# Exibindo a série
print(serie_anomalias)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
Name: Anomalia Térmica, dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [4]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
serie_anomalias = pd.Series(dic_temperaturas, name='Anomalia Térmica')

# Exibindo a série
print(serie_anomalias)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
Name: Anomalia Térmica, dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe.
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [5]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
# Gerando um array n-dimensional com números pseudo-aleatórios
arr = np.random.normal(100, 10, (20, 3))

# Transformando o ndarray em um DataFrame do Pandas
df = pd.DataFrame(arr, columns=['Coluna1', 'Coluna2', 'Coluna3'])

# Exibindo o DataFrame
print(df)

       Coluna1     Coluna2     Coluna3
0   103.406536   94.404912   89.604364
1    88.825027   83.172713   79.208284
2   110.744544   83.637583  101.058996
3    93.737670   96.366879  103.165178
4   107.613639  101.393854   94.016897
5   108.977293   97.882681  121.804447
6    95.591495  120.246136  103.710070
7   112.699101   92.260212  110.967933
8   104.292465   94.459143   82.699171
9   100.750509  100.202766   94.470907
10   96.423313  111.234591   82.283114
11  109.608980  107.970651  108.629238
12  107.710833   97.658801  104.730305
13   86.283555   86.139695   98.746502
14  104.124712  104.043877  111.022688
15   88.532202   78.979565  105.369717
16  104.251648  112.574799   96.959544
17  101.359412  112.864614   90.510173
18  107.264054   89.121007  122.004318
19   93.525305  100.198471  115.034587

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [6]:
#seu código aqui
# Transformando o ndarray em um DataFrame do Pandas com novos nomes de colunas
df = pd.DataFrame(arr, columns=['x1', 'x2', 'x3'])

# Ajustando os índices das linhas para inteiros de 1 a 20
df.index = range(1, 21)

# Exibindo o DataFrame
print(df)

            x1          x2          x3
1   103.406536   94.404912   89.604364
2    88.825027   83.172713   79.208284
3   110.744544   83.637583  101.058996
4    93.737670   96.366879  103.165178
5   107.613639  101.393854   94.016897
6   108.977293   97.882681  121.804447
7    95.591495  120.246136  103.710070
8   112.699101   92.260212  110.967933
9   104.292465   94.459143   82.699171
10  100.750509  100.202766   94.470907
11   96.423313  111.234591   82.283114
12  109.608980  107.970651  108.629238
13  107.710833   97.658801  104.730305
14   86.283555   86.139695   98.746502
15  104.124712  104.043877  111.022688
16   88.532202   78.979565  105.369717
17  104.251648  112.574799   96.959544
18  101.359412  112.864614   90.510173
19  107.264054   89.121007  122.004318
20   93.525305  100.198471  115.034587

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [7]:
# seu código aqui
df['media'] = df[['x1', 'x2', 'x3']].mean(axis=1)

# Exibindo o DataFrame
print(df)

            x1          x2          x3       media
1   103.406536   94.404912   89.604364   95.805271
2    88.825027   83.172713   79.208284   83.735341
3   110.744544   83.637583  101.058996   98.480374
4    93.737670   96.366879  103.165178   97.756576
5   107.613639  101.393854   94.016897  101.008130
6   108.977293   97.882681  121.804447  109.554807
7    95.591495  120.246136  103.710070  106.515901
8   112.699101   92.260212  110.967933  105.309082
9   104.292465   94.459143   82.699171   93.816926
10  100.750509  100.202766   94.470907   98.474727
11   96.423313  111.234591   82.283114   96.647006
12  109.608980  107.970651  108.629238  108.736290
13  107.710833   97.658801  104.730305  103.366646
14   86.283555   86.139695   98.746502   90.389917
15  104.124712  104.043877  111.022688  106.397092
16   88.532202   78.979565  105.369717   90.960495
17  104.251648  112.574799   96.959544  104.595330
18  101.359412  112.864614   90.510173  101.578066
19  107.264054   89.121007  122.004318  106.129793
20   93.525305  100.198471  115.034587  102.919454

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [8]:
# seu código aqui
df['log_med'] = np.log(df['media'])

# Exibindo o DataFrame
print(df)

            x1          x2          x3       media   log_med
1   103.406536   94.404912   89.604364   95.805271  4.562318
2    88.825027   83.172713   79.208284   83.735341  4.427661
3   110.744544   83.637583  101.058996   98.480374  4.589857
4    93.737670   96.366879  103.165178   97.756576  4.582480
5   107.613639  101.393854   94.016897  101.008130  4.615201
6   108.977293   97.882681  121.804447  109.554807  4.696425
7    95.591495  120.246136  103.710070  106.515901  4.668294
8   112.699101   92.260212  110.967933  105.309082  4.656900
9   104.292465   94.459143   82.699171   93.816926  4.541345
10  100.750509  100.202766   94.470907   98.474727  4.589800
11   96.423313  111.234591   82.283114   96.647006  4.571065
12  109.608980  107.970651  108.629238  108.736290  4.688926
13  107.710833   97.658801  104.730305  103.366646  4.638282
14   86.283555   86.139695   98.746502   90.389917  4.504133
15  104.124712  104.043877  111.022688  106.397092  4.667178
16   88.532202   78.979565  105.369717   90.960495  4.510425
17  104.251648  112.574799   96.959544  104.595330  4.650099
18  101.359412  112.864614   90.510173  101.578066  4.620828
19  107.264054   89.121007  122.004318  106.129793  4.664663
20   93.525305  100.198471  115.034587  102.919454  4.633947